<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav [fixed]="true">
    <mdb-navbar-brand>
      <ul class="black-dregadate--user">
        <div class="d-flex align-items-center justify-content-center">
          <div class="text-center avatar mx-auto my-1">
            <img src="../../../../assets/img/user1.svg" alt="avatar mx-auto" class="img-circular--user img-fluid" />
            <h5 class="text-uppercase mt-2">Jakeruizz</h5>
            <span class="font-weight-lighter">Tester</span>
          </div>
        </div>
      </ul>
    </mdb-navbar-brand>

    <links>
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">
            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/dashboard.svg" height="18" />
                </i>
                Dashboard
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/hydro.svg" height="18" />
                </i>
                Balance hidrologico
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/hydro.svg" height="18" />
                </i>
                Servicio auxiliares
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/calendar.svg" height="18" />
                </i>
                Registro de eventos
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/hydro.svg" height="18" />
                </i>
                Estadisticas disparo
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/TemperatureMeter.svg" height="18" />
                </i>
                Lectura de temperaturas
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/PresionMeter.svg" height="18" />
                </i>
                Lectura de presiones
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/hydro.svg" height="18" />
                </i>
                Lectura de medidores
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/hydraulic.svg" height="18" />
                </i>
                Mediciones hidraulicas
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa">
                  <img src="../../../../assets/icons/reports.svg" height="18" />
                </i>
                Reportes
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg rgba-black-light"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar
    SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav primary-color-dark white-text"
    [containerInside]="false"
  >
    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse">
          <mdb-icon fas icon="bars"></mdb-icon>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <mdb-breadcrumb>
        <mdb-breadcrumb-item class="active">Dashboard</mdb-breadcrumb-item>
      </mdb-breadcrumb>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Catalogos
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Jakeruizz
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">Configuración</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->
</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container-fluid mt-5">
    <h1 class="display-4">Home!</h1>
    <router-outlet></router-outlet>
  </div>
</main>
<!--/Main layout-->
